/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.page__link {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}
.list {
  list-style: none;
  padding-left: 0;
}
.list__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdbdb;
  padding: 20px;
}
.list__link {
  font-size: 22px;
}
.collapse__wrap {
  border-bottom: 1px solid #dcdbdb;
  margin-bottom: 40px;
}
.search {
  position: relative;
  margin-bottom: 20px;
}
.search__input {
  padding-right: 30px;
}
.search__icon {
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.form-error {
  font-size: 14px;
  color: red;
}
.form-plus-btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 26px;
  font-size: 16px;
  color: green;
  text-align: center;
  border: 1px solid green;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.form-plus-btn:hover {
  color: white;
  background-color: green;
}

.pt-10 {
  padding-top: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
